%h1
  News
- @news.each do |news|
  .news
    Title:
    = news.post
    %br
    Like:
    = news.like
    .comments
      Comment
      - @comment.comment.each do |comment|
        .comment 
          Comment: 
          = comment.title
          - comment.sub_comments.each do |sub_comment|
            .sub_comment
              Sub_comment:
              = sub_comment.title
          .sub_comment_form
            = form_for :comments, url: sub_comments_path(comment.id) do |f|
              Comment
              = f.text_field :title
              = f.submit
      = form_for :comments, url: comment_path(news.id) do |f|
        Comment
        = f.text_field :title
        = f.submit
= form_for :user_news, url: news_path do |f|
  Title
  = f.text_field :post
  = f.submit
  = f.check_box :like