%h1
  Message
= form_for :message, url: message_create_path do |f|
  Text
  = f.text_field :text
  = f.submit
- @message.each do |message|
  %p
    .message
      Text:
      = message.text
      = link_to 'Delete', message_path(message.id), method: :delete