%h1
  = user_name(@friend_id)
- @messages.each do |message|
  %p
    .user_name
      = message.user.name
    .message_and_time
      = message.message
      |
      = message.created_at
= form_for :message, url: message_path(@friend_id) do |f|
  = f.text_field :message
  = f.hidden_field :friend_id, value: @friend_id
  = f.submit