%h1
  Friends List
- @user.each do |users|
  .user
    Name Users:
    = users.name
    = link_to 'Add ', friend_list_index_path(user.id)
    = form_for :list_user, url: friend_list_index_path do |f|
     Search
      = f.text_field :name
      = f.submit
    = link_to 'Delete', friend_list_path(user.id), method: :delete